.venv/
__pycache__/
models/googleNews_w2v_model
models/googleNews_w2v_model.vectors.npy
models/rnn/
tb_logs/

lightning_logs/
wandb/
1.py
1.ipynb
2.ipynb
2.py
word2vec-google-news-300
word2vec-google-news-300.vectors.npy
3a.py
3b.py
3.py
part3e_logs